@font-face {
    font-family: "Zona Pro Bold";
    src: url("../../../fonts//ZonaPro-Bold.otf") format("woff"),
         url("../../../fonts//ZonaPro-Bold.otf") format("opentype"),
         url("../../../fonts//ZonaPro-Bold.otf") format("truetype");
}

body{
    font-family: "Zona Pro Bold";
}